@media all and (max-width: 1199.99px){
    .section__info {
        padding: 30px !important;
    }

    .section__info .info__container {
        max-width: 100%;
    }

    .section__info .info__btn {
        padding: 8px 8px 8px 20px;
    }

    .section__info .info__btn .btn__arrow {
        width: 36px;
        height: 36px;
    }
}

@media all and (max-width: 991.99px){
    .section__info .info__title {
        font-size: 20px;
    }

    .section__info .info__text {
        font-size: 15px;
    }

    .section__info .info__btn .btn__text {
        margin-right: 20px;
        font-size: 15px;
    }
}

@media all and (max-width: 575.99px){
    .section__info {
        padding: 20px!important;
    }

    .section__modal .modal-form__login .form-control {
        height: 48px;
        padding: 10px 15px;
        font-size: 14px;
    }

    .section__modal .modal-form__login .form-control:focus,
    .section__modal .modal-form__login .form-control:focus-within {
        font-size: 14px;
    }

    .section__modal .modal-form__login .form-control:-webkit-autofill,
    .section__modal .modal-form__login .form-control:-webkit-autofill:hover,
    .section__modal .modal-form__login .form-control:-webkit-autofill:focus {
        -webkit-box-shadow: 0 0 0 58px #D7E2F6 inset !important;
    }

    .section__modal .modal-form__login .form-control::-webkit-input-placeholder {
        font-size: 14px;
    }

    .section__modal .modal-form__title {
        font-size: 20px;
    }

    .section__modal .modal-form__checkbox {
        font-size: 14px;
    }

    .section__modal .modal-form__link.btn-link {
        font-size: 14px;
    }

    .section__modal .modal-form__submit {
        padding: 10px;
        font-size: 14px;
    }

    .section__modal .modal-form__register {
        padding: 10px;
        font-size: 14px;
    }
}

@media all and (max-width: 366.99px){
    .section__info .info__btn {
        width: 100%;
        padding: 10px 15px;
    }

    .section__info .info__btn .btn__text {
        width: 100%;
        margin-right: 0;
    }

    .section__info .info__btn .btn__arrow {
        display: none;
    }
}